
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* body styles */
body {
    background-color: #F6F8FF;
    max-width: 1264px;
    margin: 0 auto;
}

/* shared styles */
.flex {
    display: flex;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}

.text-dark {
    color: #252432;
}

.tex-light {
    color: #8987A1;
}

.span {
    color: #E95A08;
}

.text {
text-align: center;
padding-top: 50px;
}

.discount-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}

.shop {
font-size: 1rem;
font-weight: 600;
color: white;
text-decoration: underline;

}

.footer-list {
  padding-left: 0px;
  margin-top: 0px;
}

.footer-lists {
  list-style: none;
  margin-bottom: 30px;
}

/* nav styles */
.navbar { 
    justify-content: space-between;
    align-items: center;
  }

.nav-items {
    list-style: none;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
    gap: 30px;
}

/* banner styles */
.banner {
     margin-top: 50px;
    justify-content: space-between;
    align-items: end;
}

   .banner-content {
    max-width: 410px;
    flex: 1;
    }

  .banner-title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0px;
  }

.banner-image {
   width: 100%;
   height: auto;
  /* max-width: 570px; */
  flex: 1;
}

/* plants section style */
.plants {
  margin-top: 80px;
  text-align: center;
}

.plants-text {
 max-width: 600px;
 text-align: center;
 margin: 0px auto;
}

.plants-title {
  font-size: 3.15rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* flower sectiion style */
.flower-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
margin-top: 30px;
gap: 20px;
}

.flower-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.flower-price {
font-size: 1.4rem;
font-weight: 700;
margin-top: 0px;
}

.flower-button {
background-color: #E95A08;
padding: 20px 80px;
color: white;
border: none;
font-weight: 600;
font-size: 1rem;
}

/* plants lover section style */
.plants-lover-container {
  max-width: 1140px;
   margin-top: 150px;
   gap: 30px;
}

.image-box {
  max-width: 540px;
  position: relative;
  flex: 1;
}

.plants-lover-badge {
  position: absolute;
  top: -100px;
  right: -70px;
  width: 250px;
  height: 250px;
}

.plants-lover-image {
  width: 100%;
  height: 500px;
  max-width: 540px;
}

.plants-lover-content {
  flex: 1;
  max-width: 450px;
}

.plants-lover-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.lists {
  padding-left: 20px;
}

.list-description  {
margin-bottom: 20px;
}

/* latest deal section style */
.deal-shop-container {
  margin-top: 100px;
  display: none;
}

.deal-content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.deal-title {
font-size: 3rem;
font-weight: 700;
margin-bottom: 10px;
}

/* discount shop section style */
.shop-container {
  margin-top: 100px;
  gap: 20px;
}

.bloom-image {
  background-image:url("../assets/deal-bloom.png");
  width: 360px;
  height: 200px; 
  border-radius: 20px;
  margin-bottom: 20px;
   background-repeat: no-repeat;
}

.ana-image {
  background-image:url("../assets/deal-ana.png");
  width: 360px;
  height: 200px;
  border-radius: 20px;
  background-repeat: no-repeat;
}

.zabo-image {
   background-image:url("../assets/deal-zabo.png");
  width: 100%;
  height: 420px;
   border-radius: 20px;
  background-repeat: no-repeat;
}

.zabo-text {
  text-align: center;
 padding-top: 140px;
}

.zabo-title {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 10px;
}

.zabo-shop {
font-size: 1.5rem;
font-weight: 600;
color: white;
text-decoration: underline;
margin-top: 10px;
}

/* newsletter section style */
.newsletter-container {
  margin-top: 60px;
  background-image: url("../assets/news-letter-bg.png");
   height: 400px;
}

.newsletter-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.newsletter-title {
font-size: 3rem;
font-weight: 700;
color: white;
margin-bottom: 20px;
}

.submission-box {
display: flex;
width: 100%;
}

.newsletter-content input[type="email"] {
 height: 32px;
 width: 100%;
}

.newsletter-button {
  padding: 10px 40px;
  color: white;
 background-color: #E95A08;
 border: none;
}

/* footer section style */
 .footer-content {
  margin-top: 50px;
   justify-content: space-between;
 }

  .footer-text {
  width: 270px;
 } 

 .footer-texts {
  margin-bottom: 0px;
 }

 .icon {
 margin-left: 30px;
 }


/* responsive layout for small devices */

@media screen and ( max-width: 576px) {

.navbar, .banner {
  max-width: 576px;
  margin: 0px;
 align-items: center;
}

  .navbar img {
   width: 70px;
   height: auto;
  
    }

  .responsive {
    display: none;
  }

/* banner section responsive */

.banner {
flex-direction: column-reverse;
}

.banner-title {
  font-size: 2rem;
}

.banner-content {
    margin: 0 16px;
}

.banner-flower img {
width: 100%;
margin-right: 0px;
}

/* plants section responsive */

 .container {
  max-width: 576px;
  margin: 0px 10px;
}

section {
  text-align: center;
   margin: 0px auto;
}

.plants-title {
  font-size: 2.5rem;
}

/* flower section responsive */

.flower-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 justify-content: center;
  
}

.flower-box img {
  width: 100%;
}

.flower-box {
  width: 100%;
}

.flower-button {
padding:  20px 25px;
font-weight: 600;
font-size: 1rem;
}

/* plants lover section responsive */

.plants-lover-container {
margin-top: 50px;
flex-direction: column;
gap: 0px;
}

.plants-lover-badge {
  display: none;
}

.plants-lover-image {
  height: auto;
}

.plants-lover-content {
  text-align: left;
}

.plants-lover-title {
  margin-top: 10px;
  font-size: 1.5rem;
}

/* deal & discount shop section responsive  */

.deal-shop-container {
  margin-top: 50px;
}

.shop-container {
  margin-top: 50px;
  flex-direction: column;
 }



 .zabo-image {
  width: 360px;
  height: 200px;
} 

.zabo-text {
 padding: 50px;
}

.zabo-title {
  font-size: 1.2rem;
}

.zabo-shop {
font-size: 1rem;
}

/* newsletter section responsive */
.newsletter-container {
   height: 200px;
   margin-top: 50px;
}

.newsletter-content {
  padding-top: 50px;
}

.newsletter-title {
  font-size: 1.2rem;
}

.submission-box {
max-width: 500px;
margin: 0 auto;
width: 320px;
}

.newsletter-button {
  padding: 10px 20px;
}

/* footer responsive style */

 .footer-content {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
 }

 .footer-text {
  width: 360px;
  margin-bottom: 30px;
  text-align: left;
 }

 .footer-list {
  text-align: left;
  margin-bottom: 0px;
 }

 .icon {
  margin-right: 30px;
  margin-left: 0px;
 }
}
